@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1647997773359') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tishi:before {
  content: "\e713";
}

.icon-zuojiantou:before {
  content: "\e603";
}

.icon-feiji:before {
  content: "\e642";
}

